// Estilos de la página 'index.html'

.portada-main {
  max-width: 45em;
  margin: 0 auto;
  position: relative;
  padding: 1em;
}

:-ms-input-placeholder,
:root main {
  display: block;
}

.portada-titulo {
  font-family: $font-family;
  color: $color-texto-secundario;
  font-size: calc(2.5em + 7vw);
  margin-bottom: 0.25em;
}

.portada-subtitulo {
  text-transform: uppercase;
  font-size: calc(1em + 0.5vw);
  color: $color-texto-principal;
  margin-bottom: 1em;
}

hr {
  opacity: 0;
}

.portada-about {
  line-height: 1.3;
  margin-bottom: 1em;
  font-size: calc(1em + 0.2vw);
  color: $color-texto-principal;
}

.portada-imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@supports (display:grid) {
  @media (min-width: 42em) and (min-height: 27em) {
    .portada-main {
      max-width: none;
      padding: 0;
      display: grid;
      grid-template-columns: 2fr minmax(10em, max-content) minmax(14em, max-content) minmax(1em, 1fr) fit-content(28em) calc(2em + 0.5vw);
      grid-template-rows: 35vh 40vh 15vh 10vh;
    }

    .portada-titulo {
      grid-column: 3 / 6;
      grid-row: 1 / 2;
      z-index: 2;
      padding-left: 0.25em;
      margin-bottom: initial;
    }

    .portada-subtitulo {
      grid-row: 2 / -1;
      grid-column: 6 / 7;
      writing-mode: vertical-rl;
      margin: 1px;
      padding: 1px;
    }

    hr {
      grid-column: 5 / 6;
      grid-row: 2;
      height: 6px;
      background-color: $color-fondo;
      width: 20ch;
    }

    .portada-about {
      grid-column: 3 / 6;
      grid-row: 2;
      align-self: end;
      z-index: 2;
      padding-bottom: 4vh;
      margin-bottom: initial;
    }

    .portada-imagen {
      grid-column: 1 / 4;
      grid-row: 1 / 4;
    }
  }

  @media (min-width: 48em) and (min-height: 27em) {
    hr {
      opacity: 1;
    }
  }
}
