$font-family: "Georgia", "Times New Roman", serif;

// Color del texto y fondo
$color-fondo: #000000;
$color-texto-principal: #ffffff;
$color-texto-secundario: #ffcc33;

// Tamaño de los iconos FontAwesome
$fontawesome-xs: 4em;
$fontawesome-sm: 5em;
$fontawesome-md: 6em;
